<div class="row">
	<div class="span12">
		<h1>Product Edit</h1>		
		<hr />
		<form class="form-horizontal" method="post">
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="name">Product</label>
					<div class="controls">
						<input type="text" name="name" id="name" class="span9" value="<%= @products.name %>" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="package">Package</label>
					<div class="controls">
						<input type="text" name="package" id="package" class="span9" value="<%= @products.package %>" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="amount">Amount</label>
					<div class="controls">
						<input type="text" name="amount" id="amount" class="span2" value="<%= @products.amount %>" />
					</div>
				</div>
				
				
				<hr />
				<div class="control pull-right">
					<input class="btn btn-small btn-success" type="submit" value="Save" />&nbsp;&nbsp;&nbsp;<a class="btn btn-small" onclick="goBack()">Cancel</a>&nbsp;&nbsp;&nbsp;<a class="btn btn-small btn-danger" href="/admin/products/<%= @products.id %>/delete">Delete</a> 
				</div>
			</fieldset>
		</form>
	</div>
</div>

<script>
	function goBack() {
	window.history.back();
}
</script>

