<style>
	p	{
		color: #063c4b; font-weight: 300; line-height: 1.7em;
	}
</style>

<fieldset id="summary">
	<legend class="summary"> &nbsp;  Summary</legend>
		
	<div class="row-fluid">
		<div class="span6">
			
			<p>
				Name: &nbsp; <span style="font-weight: 700;" id="name-confirmation"></span><br />
				Email address: &nbsp; <span style="font-weight: 700;" id="email-confirmation"></span><br />
				Password: &nbsp; <span style="font-weight: 700;" id="password-confirmation"></span>
			</p>
			<p>
				Address:<span style="font-weight: 700; margin-left:1em;" id="address-confirmation"></span><br />
				<span style="font-weight: 700; margin-left: 5em;" id="city-confirmation"></span> &nbsp;<span style="font-weight: 700;" id="state-confirmation"></span> &nbsp;<span style="font-weight: 700;" id="zip-confirmation"></span>
			</p>
			<p>
				Card number: &nbsp; <span style="font-weight: 700;" id="card-number-confirmation"></span><br />
				CVC: &nbsp; <span style="font-weight: 700;" id="cvc-confirmation"></span><br />
				Expiration: &nbsp; <span style="font-weight: 700;" id="expiration-confirmation"></span>
			</p>
		</div>
		
		<div class="span6">
			<p>
				<span style="font-weight: 600;" id="program-package-confirmation"> </span><span style="font-weight: 600; float: right;" id="package-amount"> </span> <br />
				<span style="font-weight: 600;" id="hardcopy-enhancements-confirmation"></span><span style="font-weight: 600; float: right;" id="hard_copy-amount"> </span><br />
				GA Tax: <span style="font-weight: 700; float: right;" id="ga-tax"> </span>
			</p>
			<hr />
			<p style="text-align: right;">
				<strong style="font-size: 1.1em;">Total: $<span id='total-display'></span></strong>
				<br /><br />
				<input type="submit" class="btn btn-success submit-button" value="Checkout" style="font-weight: bold;" />
			</p>
		</div>
	</div>
	
	<input type="hidden" id="amount" name="amount" value="0" />
	
	<div id="errors" class="err"></div>
		
</fieldset>


