<fieldset>
	<legend><span class="oswald" style="padding: 0 9px 0 7px;">1</span> Package</legend>
	
	<div class="row">	
		<div class="span12 content">
			<% if user.hard_copy %>
			<h3 style="color: #c40000;">It appears you have already purchased the NCMHCE Overview Hard Copy.</h3>
			<p>If you have not purchased the hard copy you my do so now.
				<br /><br />
			<% end %>
			<label class="radio package-name">
				<input style="font-size: 1.2em;" name="package" type="radio" id="ncmhce-hard-copy" value="NCMHCE Hard Copy" data-price='29' checked="checked" /> &nbsp;<span style="font-size: 1.8em;" class="oswald">NCMHCE Overview Hard Copy $29.00</span>
			</label>
			<p>
			<ul class="package-features">
				<li>Same document as the PDF download.</li>
				<li>Includes shipping and handling.</li>
			</ul>
			</p>
			
		</div>
	</div>
	
</fieldset>

