<fieldset>
	<legend><span class="oswald" style="padding: 0 9px 0 7px;">1</span> Package</legend>
	
	<div class="row">	
		<div class="span12 content">
			<label class="radio package-name">
				<input style="font-size: 1.2em;" name="package" type="radio" id="second-chance-upgrade" value="Second Chance Upgrade" data-price='170' checked="checked" /> &nbsp;<span style="font-size: 1.8em;" class="oswald">NCMHCE: Second Chance Upgrade &nbsp; $170</span>
			</label>
			<p>
				<ul class="package-features">
					<li><strong>All 4 Sets of 12 Case Studies (48 total)</strong></li>
					<li>NCMHCE Overview PDF Download</li>
					<li>Money Back Pass Guarantee</li>
					<li>3-day Satisfaction Guarantee</li>
					<li>Online account active for one year</li>
					<li>Phone consultation directly with Dr. Gary Arthur for up to 30 minutes</li>
				</ul>
			</p>
		</div>
	</div>
		
</fieldset>


