<!-- ---------- ncmhce header ---------- -->
</div>

<div id="top">  </div>

<p style="font-size: 1.5em; margin: -12px 0; padding: 12px 0; background-color: #00982d; color: #ffffff; text-align: center;"><strong>The Case Study Simulator is based on the New NCMHCE Format!</strong></p>

<div class="container">

<div class="row">	
	<div class="span12" style="margin-top: 1.5em;">
		
		<!-- <div class="pull-right" style="margin-top: 1em; margin-right: 4%; margin-bottom: 1.5em;">
			<img src="/img/pass_icon.png" style="width: 100px;">
		</div> -->
		
		<div class="center" style="margin-bottom: 1.5em;">
			<h1 style="font-size: 2.6em; color: #063d4c;">National Clinical Mental Health Counseling Examination</h1>
			<hr Style="margin: 0:" />
			<h2 style="font-size: 1.3em; font-weight: 300; margin-top: -0.8em;">We are proud that <strong>97%</strong> of our customers passed their exam in 2021!<sup style="font-size: 0.6em;">1</sup></h2>
		</div>
	</div>
</div>
<div class="row" style="margin-bottom: 0.1em;">	
	<div class="span5">
		<img src="/img/ncmhce-image.jpg" />
		
	</div>
	<div class="span7" style="margin-top: -1em;">
		<h1 style="font-size: 2.1em; color: #063d4c;">Dr. Arthur's NCMHCE Case Study Simulator</h1>
		<p style="font-weight: 300; font-size: 1.2em; line-height: 1.3em;"><strong>The Online Case Study Simulator</strong> includes up to 48 online case studies divided into 4 sets of 12 that emulate the NCMHCE exam, measuring your abilities in 5 domains. Case Studies may be taken multiple times for up to a full year allowing you to learn at your own pace. Learn how to maximize your scores through practice using the exam format. Case Studies provide feedback for each answer you select - right or wrong. Learn why an answer is correct or incorrect so you can go into your exam feeling fully prepared.</p>
			
		<p class="hidden-phone pull-left" style="margin-right: 2em;">
			<a class="btn" id="section1Btn" style="margin: 16px 0 12px 0; padding: 9px 12px; font-size: 1.1em; border-color: #1b88dc; background-color: #ffffff; color: #063d4c;"><img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp; See What Our Users Are Saying</a>
		</p>	
		<p style="margin-top: 26px;"><a class="btn btn-success" id="section2Btn" style="font-weight: bold; padding: 9px 16px;">Let's Get Started!</a></p>	
		
	</div>
</div>


</div>


<div style="background-color: #0371c8; height: 3.5em; margin-top: 2em; margin-bottom: 3em;">
	<div class="container">
		<div class="row">
			<div class="span12 center">
				<p class="oswald" style="font-weight: 400; font-size: 2em; color: #ffffff; padding-top: 14px; padding-bottom: 16px; margin-top: -1.15em;">PASS YOUR STATE LICENSURE EXAM! &nbsp; <img src="/img/pass_icon.png" style="width: 113px; margin-top: -0.4em;"> &nbsp; 97% PASS RATE</p>
			</div>
		</div>
	</div>
</div>
	
<div class="container">	
	<div class="row">	
		<div class="span12 center" style="margin-top: -1.5em;">
			<h1 class="oswald" style="font-size: 2em; color: #0572d8;">Try a Sample NCMHCE Case Study for FREE.</h1> 
			<p style="font-size: 1.2em; font-weight: 300; line-height: 1.1em;">See how the NCMHCE Case Study Simulator works. <em>No registration required.</em></p>
			<p style="margin-top: -9px;">This is a <strong>Sample Case Study</strong> that shows all selected answers for your review once it has been completed.</p>
			 <a href="/casestudies/sample" class="btn btn-success" style="font-size: 1.2em; padding: 8px 18px; margin: 10px 0 48px 0;"><strong>Try Free Sample Case Study Now</strong></a>
		</div>
	</div>
</div>

<!-- about container div desktop -->
<div style="margin-bottom: 1.5em; background-color: #cfe6d9; padding-top: 3em; padding-bottom: 3.5em;" class="visible-desktop visible-tablet">

	<div class="container">
		
<div class="row">
	<div class="span6 features">
		
		<img src="img/check.png" class="check" /><h2 class="oswald">Online Case Study Simulator</h2>
		<p>The Arthur Online Case Study Simulator includes 4 sets of online case studies that emulate the actual exam. The case studies, written in the same basic format as the exam, give you additional information as you proceed through the exam to teach you why each selection is a good or bad choice. Each case study will be scored upon completion and you are provided an overall exam set score once all 12 case studies are completed. The case studies will give you practice using the NCMHCE format, both in structure and informational responses, so you will be properly prepared to pass your exam. Perfect for those experiencing text anxiety! You may purchase all 4 exam sets (48 case studies), or "pay as you go" getting 1 set (12 case studies).</p> 
		
		<img src="img/check.png" class="check" /><h2 class="oswald">NCMHCE Overview: Case Study Exam Guide</h2>
		<p>The NCMHCE Overview document is accessible as a PDF. It contains an Introduction section that will explain what to expect on your exam and also give you valuable information on how to approach the exam to maximize your scores. This is followed by a section that contains the most commonly-tested diagnoses from the huge DSM-5 that has been compressed and put into a format that is much easier to apply to the exam.</p>
		
	</div>
	<div class="span6 features">
		
		<img src="img/check.png" class="check" /><h2 class="oswald">Money-Back Pass Guarantee</h2>
		<p>We are so confident our material will help you pass your exam that if you are not successful, we will give you your money back or grant you additional assistance at no additional charge. Your choice! The only requirements are you must purchase a minimum of 30 days prior to your exam and you have 90 days from the date of your exam to return any written materials received along with a copy of your exam scores. See <a id="section3Btn" style="cursor: pointer; cursor: hand;"><strong>guarantee policies</strong></a> for details.</p>
		
		<img src="img/check.png" class="check" /><h2 class="oswald">Learn at your own pace</h2>
		<p>Unlike many other NCMHCE exam products, our case studies may be taken multiple times for up to one full year. This allows you to study at the pace that works best for you.</p>
		
		<img src="img/check.png" class="check" /><h2 class="oswald">Personal Profile Page</h2>
		<p>You get a personal profile page containing status of case studies you have taken, scores, ebook download, your purchases, and access to exam sets overall scores with domain breakdown.</p>
		
		<img src="img/check.png" class="check" /><h2 class="oswald">Consultation</h2>
		<p>As part of any package purchased, you can schedule a phone consultation with Dr. Gary Arthur for up to 30 minutes.</p>
		
	</div>
	
</div>	
</div>	
		
</div>




<!-- ======================= Pricing ======================= -->


<div id="pricing" style="margin-top: -2em;">
	<!-- <p> <br /></p> -->
</div>

<div class="container">

<div class="row" style="margin-top: 2em;">	
	<div class="span12">	
		<div class="page-header">
			<h1 class="section-header" style="color: #063d4c;">What You Get</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span5">
		<div class="save-white hidden-phone" style="margin-bottom: 1.5em;">
			&nbsp;
		</div>
		<div class="price-ground">
			<p style="letter-spacing: 3px; color: white; font-size: 1.3em;">STARTER PACKAGE</P>
			<h1 class="oswald" style="color: white; font-size: 3em; font-weight: 400;">$90</h1>
		</div>
		<div class="price-field">
			<ul>
				<li><strong>One Exam Set of 12 Case Studies</strong>*<br /><small>(may be retaken multiple times)</small></li>
				<li>NCMHCE Overview PDF Download</li>
				<li>Money Back Pass Guarantee</li>
				<li>3-day Satisfaction Guarantee</li>
				<li>Online account active for one year</li>
				<li>Phone consultation directly with Dr. Gary Arthur for up to 30 minutes</li>
				<li>Second Chance Upgrade**</li>
				
				
				<li><a class="btn btn-success btn-large" href="/casestudies/cs_index_purch" style="font-weight: bold; margin-bottom: -9px; width: 85%;">BUY ONE SET!</a></li>
			</ul>
		</div>
	</div>
	<span class="visible-phone"><br /><br /></span>
	<div class="span5">
		<div class="save-red oswald">
			<p class="oswald" style="font-size: 1.2em; color: white;">Save $100</p>
			<p style="font-size: 0.8em; color: white;">Versus purchasing al la carte items</p>
		</div>
		<div class="price-ground">
			<p style="letter-spacing: 3px; color: white; font-size: 1.3em;">FULL PACKAGE</p>
			<h1 class="oswald" style="color: white; font-size: 3em; font-weight: 400;">$260</h1>
		</div>
		<div class="price-field">
			<ul>
				<li><strong>All 4 Exam Sets of 12 Case Studies</strong><br /><small>(may be retaken multiple times)</small></li>
				<li>NCMHCE Overview PDF Download</li>
				<li>Money Back Pass Guarantee</li>
				<li>3-day Satisfaction Guarantee</li>
				<li>Online account active for one year</li>
				<li>Phone consultation directly with Dr. Gary Arthur for up to 30 minutes</li>

				
				<li><a class="btn btn-success btn-large" href="/checkout/ncmhce?package=Full%20Package" style="font-weight: bold; margin-bottom: -9px; width: 85%;">BUY NOW!</a></li>
			</ul>
		</div>
		
	</div>
	<div class="span2">
		<div class="save-white">
			&nbsp;
		</div>
		
		<div class="hidden-phone" style="padding: 0;">
			<!-- <center class="hidden-phone"><img src="/img/ncmhce-badge-solid.png" style="padding: 0.1em 0 0.6em 0;" /></center> -->
			<hr />
			<center><p>Buy with confidence</p></center>
			<center><img src="/img/badges/letsencryptlogo.png" style="width: 50%;" /></center>
			<hr />
			<center><h4>To order by phone.</h4></center>
			<center><p>Call toll free <br /><span style="font-size: 1.2em;">888-326-9229</span></p>
			<p><small>Business hours <br />Monday - Friday<br />9:00 AM - 5:00 PM EST.</small></p><br /></center>
		</div>
		<div class="visible-phone" style="padding: 0;">
			<center><h4>To order by phone.</h4></center>
			<center><p>Call toll free <br /><span style="font-size: 1.2em;">888-326-9229</span></p>
			<p><small>Business hours<br />Monday - Friday<br />9:00 AM - 5:00 PM EST.</small></p><br /></center>
		</div>
		
	</div>
	<div class="span12" style="margin-top: 1em;">
	<p style="padding-top: 16px;">* &nbsp;Upgrade Packages may be purchased later in sets of 12 case studies for $90 per set. You choose from 4 exam sets based on individual case study disgnosis that best fits your study plans.</p>
		<p>** &nbsp;Within two weeks of purchase you may exchange Starter Package purchase for Full Package for the difference in cost.</p>
	</div>
</div>

</div></div>

<!-- ======================= Other Materials Desktop ======================= -->

<div style="margin-top: 2em; background-color: #d8e6f2; padding-top: 1em; padding-bottom: 2em;" class="hidden-phone">
	<div class="container">
		
		
		<div class="row" style="margin-top: 2em;">	
			<div class="span2 center">	
				<img src="/img/ncmhce-cover.png" width="110px" style="margin: 0 0 18px 0;" />
			</div>
	
			<div class="span6">	
				<h2 class="oswald" style="line-height: 1.2em;">NCMHCE Overview Hard Copy</h2>
				
				<p><strong>Add the NCMHCE Overview Hard Copy for only $28**</strong></p>
				<p>Price includes production & shipping costs. This hard copy contains the same information that is found in the eBook PDF.</p>
				<p>Available for both Starter and Full Package.</p>
			</div>
			
			<div class="span4">
				<p><small>** Must purchase Starter or Full Package. See Optional Enhancements on Checkout page or can be purchased later.<br />
					
					If you require shipment to a PO Box please call toll free 888-326-9229 for details.</small></p>
		
			</div>
		</div>

	</div>
</div>





<!-- ======================= Guarantee ======================= -->


<div id="guarantee" style="margin-top: -2em;">
	<p> <br /></p>
</div>

<div class="container">

<div class="row" style="margin-top: 2em;">
	<div class="span12">
		<div class="page-header">
			<img src="/img/pass_icon.png" class="visible-desktop visible-tablet" width="110px" style="float: right; margin-top: -14px; margin-right: 2em;" />
			<img src="/img/pass_icon.png" class="visible-phone" width="70px" style="float: right; margin-top: -14px;"/>
			<h1 class="section-header hidden-phone" style="color: #063d4c;">Money Back Pass Guarantee + Satisfaction Guarantee</h1>
			<h1 class="section-header visible-phone" style="font-size: 1.8em; color: #063d4c;">Money Back Pass Guarantee + Satisfaction Guarantee</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12" style="margin-top: -1.5em;">
		<p class="lead">Pass the NCMHCE or the purchase price will be refunded (less shipping and taxes)</p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p>The below policies are applicable to the Study Materials for the NCMHCE National Clinical Mental Health Counseling Examination Online Case Study Simulator.</p>
	</div>
	<div class="span6 guarantee">
		<h4>Money Back Pass Guarantee Policy Terms</h4>
		<p>CTC offers a money back pass guarantee for The Arthur NCMHCE Study Program. Pass the NCMHCE or CTC will refund your money (excludes shipping and any sales tax).</p>
		<ul>
			<li>The Study Guide must be purchased at least 30 days, and not more than one year, prior to the exam date.</li>
			<li>If the exam is failed, the customer has 90 days to forward a copy of proof of failure to CTC. If the hard copy was ordered, the NCMHCE Study Guide must be returned. Note: The return expense is the responsibility of the customer.</li>
			<li>Once CTC receives the exam scores (and hard copy binder if ordered), CTC will refund the credit card originally used via our online payment service (excludes all shipping charges and any applicable sales tax). The credit should appear 5-10 business days from the processing date.</li>
		</ul>
	</div>
	<div class="span6 guarantee">
		<h4>Satisfaction Guarantee Refund Policy Terms</h4>
		<p>
			The customer has 3 days from the purchase date to review the purchased <em>online services,</em> including online Case Studies and PDF, to confirm that it is what he or she expected. If the customer has purchased a hard-copy of the NCMHCE NCMHCE Overview, he or she has <em>3 days from the date of delivery of the binder</em>. If unhappy with the content for any reason, the customer is required to notify CTC within these 3 days either by phone or e-mail that he/she is requesting a refund and will be returning the book, if applicable. Further, to qualify for a refund, the customer <em>may not have accessed more than 3 online case studies</em>. Upon proper notification, CTC will turn off access to these online services, and a refund will be issued. For those customers who have purchased the hard-copy, it is required the hard copy binder be returned to CTC in good condition. Once CTC has received the hard-copy, a refund will be issued (excludes all shipping and any applicable sales tax). Note: The return expense is the responsibility of the customer.
		</p>
	</div>
	
	<div class="span12">
		<p>For questions about the above policies, or any aspect of the Study Material, please call toll free 888-326-9229.</p>
	</div>
</div>
</div>

<!-- ======================= About Author ======================= -->
	
<!-- <div id="authors">
	<p> <br /><br /></p>
</div> -->

<div style="margin-top: 3em; background-color: #d8e6f2; padding-top: 1em; padding-bottom: 2em;">
	<div class="container">

		<div class="row">
			<div class="span12">
				<div class="page-header">
					<h1 class="section-header" style="color: #063d4c;">About the Author</h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span9">
				<h3 style="margin-bottom: 0.8em;">Gary L. Arthur <small>Ed.D.</small></h3>
				<p style="font-size: 1.15em; line-height: 1.4em;">
					<img src="/img/gary.gif" style="float: left; padding: 3px; border: 1px solid #efefef; margin-bottom: 1em; margin-right: 1.5em;" />
					Gary L. Arthur, Ed.D., was a Professor Emeritus in the Counseling and Psychological Services Department at Georgia State University. He served as the Coordinator for the Professional Counseling Program and as clinical coordinator for the internship program. His research interests included clinical supervision, therapist safety, geriatrics, and assessment. He taught for over 43 years in the graduate program at Georgia State University.

				</p>
			</div>
			<div class="span3">
				
			</div>
		</div>

	</div>
</div>


<!-- ======================= testimonials ======================= -->


<div id="testimonials" style="margin-top: -2em;">
	<p> <br /></p>
</div>

<div class="container">

<div class="row" style="margin-top: 2em;">
	<div class="span12">
		<div class="page-header">
			<h1 class="section-header" style="color: #063d4c;">What Our Users Are Saying</h1>
		</div>
	</div>
</div>

<div class="row">

	<div class="span6">
		
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Just wanted to take a few moments to say thank you for easing the anxiety and stress associated with this test. I took it twice but came a few points shy the first time and aced it the second time. The examples in the practice tests were consist with the test material and allowed me to feel more confident and prepared. The workshop was also a great tool and I am glad to have had that as an option; as it provided me the opportunity to ask you specific questions. Thanks for your patience on the call and I am so excited to be celebrating as a newly licensed therapist!
			</p>
			<small>Tammy Piotter</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I can say, and feel free to quote me, that nothing, in all my preparation, helped me more than the consultation with Dr. Arthur. It was the added value distinctive to your program that made all the difference. With just a short time to prepare, I bought a number of the resources that were available online, but I was still feeling very overwhelmed. The study guide helped to narrow down what I needed to focus upon, the simulated Exams helped me to become familiar with both the test format and the rationale behind the answers, but the consultation is what helped the most. Having explored the options available, it is by far the best deal out there to prepare for the NCMHCE!
			</p>
			<small>Phil</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed!! Without this study program, I would have failed... This program is the best. I really think your supplement should be a college book... Definitely uses examples from real-life and similar to the test. I never write these things, but was really excited and amped up to report how helpful this guide truly is. Your guide will continue to help me as I practice.
			</p>
			<small>Katrina P.</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed the NCMHCE! I am writing to thank you because I credit the Arthur-Brende Study Program for my success. Had I not purchased your program I don't think the outcome would be the same. It was my first time sitting for the exam and I'm so grateful to have passed on the first try.
			</p>
			<small>Tia C.</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;This study guide and the simulations were amazing and were truly the backbone of my preparation for the NCMHCE. I am now independently licensed and owe a great deal to Dr. Arthur's preparation materials. Worth the investment and then some. Wouldn't recommend taking the exam without making this purchase!
			</p>
			<small>Rob Ward</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I wanted to let you know how grateful I am for the help of the counselor exams study guide. I passed my NCMHCE with flying colors and I truly have this study guide and online simulations to thank! I was able to really target the material that I needed a refresher on but also affirm the things that I was doing right. I have told all of my friends that are preparing for the exam that this is the best. I will also continue to reference the material covered in this study guide throughout my career!
			</p>
			<small>Sherese Ezelle</small>
		</blockquote>
		
		
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Dr. Arthur, I just wanted to thank you and let you know that I passed my licensing exam on Friday. Your tutorial program is absolutely the best study program on the market. I really enjoyed talking with you this past week and the tips you provided boosted both my morale and my score! Thanks again for this great review program!
			</p>
			<small>D. Kent</small>
		</blockquote>
		
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I just wanted to thank all you for the support and such thorough testing software. I just took my NCMHCE today and I passed. I know that the details and the team support I received as well as the follow through with the questions I asked Dr. Arthur; are one of the many reason I was successful today. Thank You.
			</p>
			<small>Jasmin</small>
		</blockquote>
		
	</div>

	<div class="span6">
		
		
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I wanted to let you know that I passed the NCMHCE for the first time last Friday. I used several study materials but feel your materials were the best and most closely approximated the actual exam.  I felt my money was well spent on the Arthur-Brende study materials.  I will recommend these materials to others who study for the exam.  The study materials that summarized diagnoses with symptoms, typical assessments, appropriate treatments and differential diagnoses were especially helpful.
			</p>
			<small>Donna B.</small>
		</blockquote>
		
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I am a licensed professional and have taken lots of other exams. The NCMHCE is by far the most difficult exam I have taken. If it wasn&#39;t for your material and excellent assistance, I would not have passed my NCMHCE exam and received my state license. Other study material sites are not as professional or helpful as yours.
			</p>
			<small>S. Winkelmann</small>
		</blockquote>
		

		
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I wanted to share that I just passed my NCMHCE exam today on my first try!! Your simulations were excellent at helping me understand exactly how to proceed on my exam. I am thrilled and will continue to refer others to your site. Thank you again!
			</p>
			<small>Marissa</small>
 		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Just wanted to say thank you. I passed the NCMHCE today!! This program was everything I needed in order to properly prepare for the exam.
			</p>
			<small>Michelle</small>
		</blockquote>

		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;The online [scenarios] were exactly what I needed. I needed lots of repetition of just doing the exam over and over so that I could understand what they were looking for. I took the NCMHCE the first time without your materials and failed. I took it the second time after studying a lot with your materials, any my scores went up over 25 points. Your materials significantly helped.
			</p>
			<small>Jeremy Rampton, LCPC</small>
 		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I want to thank you for how brilliantly you developed your study guide materials. I took the licensing exam yesterday for Mental Health & passed. Your guide was instrumental in allowing me to get a grasp on the structure & content of exam. I'm confident that because of your guide I passed the exam with flying colors! Thank you again for making this guide such a valuable resource.
			</p>
			<small>Rosy C. Landa</small>
 		</blockquote>
		
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;This is awesome! I don't need to carry around the binder version and I can easily access the eBook while I'm relaxing in bed doing night time reading before sleeping-- in other words, it's awesome that it's so accessible! Thank you!
			</p>
			<small>J. Cho</small>
		</blockquote>
		
		
		<blockquote>
			<p>
			<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Your customer service ranks among the best I have ever experienced and please know I will continue to advocate your services to all peers and mentorees.
			</p>
			<small>A. Campbell</small>
 		</blockquote>
		
		
		
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I did pass my exam on the first try and I attribute that to your study materials. I will refer your site to other colleagues who are planning to take this exam. I found both the simulations and the accompanying hand book very helpful.
			</p>  
			<small>T. Kirsimae</small>
		</blockquote>
		
	</div>

		<div class="span12">	
			<hr />
			<p class="pull-left"><small><sup>1</sup> Based on number of refunds requested due to failed exams.</small></p>
		</div>
</div>



		<a id="section4Btn" style="position: fixed; bottom:24px;right: 26px; cursor: pointer; cursor: hand;" class="hidden-phone"><img src="/img/phone-up-pointer.svg" /></a>
		<a  id="section4Btn" style="position: fixed; bottom:7%;right: 0;" class="visible-phone"><img src="/img/up-pointer-side.svg" /></a>

<script type="text/javascript">
    $(window).on('load',function(){
        $('#infoModal').modal('show');
    });
</script>


<script>
	
var section1Btn = document.getElementById("section1Btn"),
    section2Btn = document.getElementById("section2Btn"),
    section3Btn = document.getElementById("section3Btn")
	section4Btn = document.getElementById("section4Btn");

section1Btn.onclick = function() {
  TweenLite.to(window, 1, {scrollTo:{y:"#testimonials", offsetY:0}});
}

section2Btn.onclick = function() {
  TweenLite.to(window, 1, {scrollTo:{y:"#pricing", offsetY:24}});
}

section3Btn.onclick = function() {
  TweenLite.to(window, 1, {scrollTo:{y:"#guarantee", offsetY:0}});
}

section4Btn.onclick = function() {
  TweenLite.to(window, 1, {scrollTo:{y:"#top", offsetY:60}});
}

	
</script>



