<!-- ------------ main panel (uses layout container div) ---------- -->
</div>
<p style="font-size: 1.5em; margin: -12px 0; padding: 12px 0; background-color: #00982d; color: #ffffff; text-align: center;"><strong>The Case Study Simulator is based on the New NCMHCE Format!</strong></p>

<div class="container">
		
	<div class="row"  style="margin-top: 1.5em;">
		<div class="span12 center">
			<h1 style="font-family: 'Oswald', sans-serif; font-size: 2.8em; color: #063d4c; font-weight: 400; line-height: 1em; margin-top: 0.1em;">
				Dr. Arthur&rsquo;s Study Programs for the NCMHCE and NCE
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="span5 center" style="margin-top: 1.5em;">
			<img src="img/welcome-image.jpg" width="98%" style="padding-bottom: 0.5em;">
		</div>
		<div class="span7" style="margin-top: 1em;">
			
			<p style="font-size: 1.7em; font-weight: 600; color: #000000; line-height: 1.4em; color: #063d4c; letter-spacing: -0.01em;">
				Smarter Preparation. Better Results.
			</p>
			
			<p style="font-size: 1.15em; font-weight: 300; color: #000000; line-height: 1.4em;" class="hidden-phone">
			Dr. Arthur's Study programs remain the most trusted tools in the field when preparing for your NCMHCE and NCE, designed to provide the most comprehensive study material available! Money Back Pass Guaranteed! Prepare for your NCMHCE using our Case Study Simulator, built in part based on Dr. Arthur's experience from over 5,000 personal consults with users like you. The Simulator uses the new NCMHCE format and presents immediate feedback after completing each case study. After finishing an entire exam of 12 case studies, you get an overall exam score.</p>
			<p><a id="section1Btn" style="font-size: 1.15em; cursor: pointer; cursor: hand;"><strong>Let's Get Started!</strong></a></p>
			
		</div>
	</div>
	
	
	
</div> <!-- ends layout container div -->


<!-- ------------ blue bar (uses new container div) ---------- -->


<div style="background-color: #0371c8; height: 3.5em; margin-top: 2em; margin-bottom: 3.5em;" class="hidden-phone">
	<div class="container">
		<div class="row">
			<div class="span12 center">
				<p class="oswald" style="font-weight: 400; font-size: 2em; color: #ffffff; padding-top: 14px; padding-bottom: 16px; margin-top: -1.15em;">PASS YOUR STATE LICENSURE EXAM! &nbsp; <img src="/img/pass_icon.png" style="width: 113px; margin-top: -0.4em;"> &nbsp; 97% PASS RATE</p>
			</div>
		</div>
	</div>
</div>

<!-- ------------ sample panel ---------- -->


<div class="container">	
	<div class="row">	
		<div class="span12 center" style="margin-top: -1.5em;">
			<h1 class="oswald" style="font-size: 2em; color: #0572d8;">Try a Sample NCMHCE Case Study for FREE.</h1> 
			<p style="font-size: 1.2em; font-weight: 300; line-height: 1.1em;">See how the NCMHCE Case Study Simulator works. <em>No registration required.</em></p>
			<p style="margin-top: -9px;">This is a <strong>Sample Case Study</strong> that shows all selected answers for your review once the scenario has been completed.</p>
			 <a href="/casestudies/sample" class="btn btn-success" style="font-size: 1.2em; padding: 8px 18px; margin: 10px 0 48px 0;"><strong>Try Free Sample Case Study Now</strong></a>
		</div>
	</div>
</div>




<!-- ------------ about products (uses new container div) ---------- -->

<!-- about container div desktop -->
<div style="margin-bottom: 1.5em; background-color: #cfe6d9; padding-top: 3em; padding-bottom: 3.5em;" class="visible-desktop visible-tablet">
	<div class="container">	
		<div class="row">
			<div class="span6">
				<h1 style="font-size: 2.1em; color: #063d4c;">NCMHCE Case Study Simulator</h1>
				<p style="font-size: 1.4em; font-weight: 300; line-height: 1.3em;">Dr. Arthur offers 4 exam sets of 12 case studies each base on the New NCMHCE Format!</p>
					<p style="line-height: 1.5em;">The Case Study Simulator provides feedback for each answer you select and scores each case study. Upon completion of a set you get an overall score with domain breakdowns and study suggestion. You can practice using the exam-based case studies to simulate taking the actual exam until you're comfortable.</p>
			</div>
			<div class="span6">
				<h1 style="font-size: 2.1em; color: #063d4c;">Taking the NCE?</h1>
				<p style="font-size: 1.4em; font-weight: 300; line-height: 1.3em;">The NCE Study Guide along with the online practice exams are the tool of choice for passing the NCE!</p>
				<p style="line-height: 1.5em;">Dr. Arthur was approached to write a study guide for this exam years ago and has been updating and teaching from his NCE Study Guide ever since. It covers all eight CACREP topics plus supervision, ethics, and all other topics needed to properly prepare and pass the NCE.</p>
			</div>
		</div>
	</div>
</div> <!-- ends about container div desktop -->

<!-- about container div phone -->
<!-- <div class="visible-phone">
	<div class="container">
		<div class="row">
			<hr style="border-color: green" class="visible-phone" />
			<div class="span6">
				<h1 style="font-size: 2.1em; color: #063d4c;">How the NCMHCE Scenario Simulator Works</h1>
				<p style="font-size: 1.4em; font-weight: 300; line-height: 1.3em;">We offer two different scenario types - tutorial & exam formatted practice scenarios.</p>
					<p style="line-height: 1.5em;">First, learn using tutorial-based scenarios that provide feedback for each answer you select - right or wrong. Then, practice using the exam-based scenarios to simulate taking the actual exam.</p>
			</div>
			<div class="span6">
				<h1 style="font-size: 2.1em; color: #063d4c;">Taking the NCE?</h1>
				<p style="font-size: 1.4em; font-weight: 300; line-height: 1.3em;">The NCE Study Guide along with the online practice exams are the tool of choice for passing the NCE!</p>
				<p style="line-height: 1.5em;">Dr. Arthur was approached to write a study guide for this exam years ago and has been updating and teaching from his NCE Study Guide ever since. It covers all eight CACREP topics plus supervision, ethics, and all other topics needed to properly prepare and pass the NCE.</p>
			</div>
		</div>
	</div>
</div> -->
<!-- ends about container div phone -->



<!-- ------------ get started (uses layout container div) ---------- -->

<div id="getStarted"> </div>

<!-- layout container div for desktop and tablet -->
<div class="container hidden-phone" style="margin-top: 2.5em;">
	<div class="row" style="margin-bottom: 2.5em;">
		<div class="span12 center" style="margin-bottom: 1em;">
			<!-- <img src="img/get-started-header.svg" width="300px"/> -->
			<h1 style="font-family: 'Oswald', sans-serif; font-size: 2.8em; color: #063d4c; font-weight: 400; line-height: 1em; margin-top: 0.1em;">
				Let's Get Started!
			</h1>
		</div>
		<div class="span4 center">
			<div class="well well-sm" style="border-color: #017abc;">
				<img src="img/ncmhce-logo-welcome.png" style="border-radius: 6px;">
				<a class="btn btn-success btn-large" href="/ncmhce" style="margin-top: 14px; width: 80%; font-weight: bold;">Get Started...</a>
			</div>
		</div>
		<div class="span4 center">
				<h1 style="font-size: 1.9em; color: #063d4c; padding-top: 10px; line-height: 1.2em;">Not sure which licensure exam you need to take?</h1>
				<p>The NBCC web site has your <br />state's specific licensure info.</p>
				<a class="btn btn btn-info" href="http://nbcc.org/directory" target="_blank">CHECK MY STATE</a>
		</div>
		<div class="span4 center">
			<div class="well well-sm" style="border-color: #017abc;">
				<img src="img/nce-logo-welcome.png" style="border-radius: 6px;">
				<a class="btn btn-success btn-large" href="/nce" style="margin-top: 14px; width: 80%; font-weight: bold;">Get Started...</a>
			</div>
		</div>
	</div>
</div> <!-- ends layout container div for desktop and tablet -->




<!-- ------------ testimonials tablet and desktop ---------- -->


<div style="margin-bottom: 0em; background-color: #d8e6f2; padding-top: 1.5em; padding-bottom: 2em;" class="hidden-phone">
	<div class="container">
		<div class="row" style="padding-top: 1em; padding-bottom: 1em;">
			<div class="span12">
				<h1 style="text-align: center; margin-bottom: 0.6em; font-size: 2.6em; color: #063d4c;"><img style="height: 40px; opacity: 0.3;" src="img/quote-open.png"/> &nbsp;What Our Users Are Saying</h1>
			</div>
			<div id="steps">
				<div id="step1" class="step">
					<div class="span6" style="min-height: 13em;">
						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I have the worst test anxiety, and I am legally blind so I need a lot of accommodations. I stumbled across the site and took a gamble. I have never had any confidence in taking tests, but I am proud to say that I made it through my exam with no anxiety, and way above the score needed to pass. The site is incredibly accessible for people with screen readers, and that made all of the difference to me.
							</p>
							<small>Nicole</small>
						</blockquote>
						
						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed the NCMHCE yesterday on my first attempt. I used Dr. Arthur's study materials and I will be recommending the materials to my colleagues for their upcoming exams. The consult with Dr. Arthur was extremely valuable and a critical piece of my success. The consult reduced my test anxiety and left me feeling prepared to take the exam.
							</p>
							<small>Lindsay B.</small>
						</blockquote>
						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Great study course that prepped me within three months. The study supplement is so informative that I'll be keeping it on my library shelf as a reference. The scenarios, I believe, were the greatest asset with built-in tutorials. I can see now why Dr. Arthur provides a money-back guarantee. If you complete the scenarios and reference the supplement, you WILL pass! (And not just by the skin of your teeth.)
							</p>
							<small>Olivia</small>
						</blockquote>
					</div>
				</div>
				<div id="step3" class="step">
					<div class="span6" style="min-height: 13em;">
						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed my licensure exam! It was my first attempt and this test prep was the main source of guidance I used while preparing to sit for the NCMHCE. I felt prepared, informed and confident when I started my exam. If I’m being honest, I have never felt that way before taking an exam.
							</p>
							<small>Jessica W.</small>
						</blockquote>
						
						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed the NCE with a score of 139 out of 160. I only needed a 90 to pass. I used your e-study guide and online exams with two other study resources, and your materials were by far the most helpful and comprehensive. I can safely say I was well-prepared, and I will highly recommend your program to others.
							</p>
							<small>Danielle R.</small>
						</blockquote>
						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I wanted to let you know how grateful I am for the help of the counselor exams study guide. I passed my NCMHCE with flying colors and I truly have this study guide and online simulations to thank! I was able to really target the material that I needed a refresher on but also affirm the things that I was doing right. I have told all of my friends that are preparing for the exam that this is the best. I will also continue to reference the material covered in this study guide throughout my career!
							</p>
							<small>Sherese Ezelle</small>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> <!-- ends testimonials container div -->

<!-- ------------ testimonials tablet and desktop ---------- -->


	<div class="container visible-phone">
		<hr style="border-color: green" class="visible-phone" />
		<div class="row">
			<div class="span12">
				<h1 style="margin-bottom: 1em; font-size: 2em; color: #063d4c;">What Our Users Are Saying</h1>
			</div>
			<div id="steps">
				<div id="step1" class="step">
					<div class="span6" style="min-height: 13em;">
						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I have the worst test anxiety, and I am legally blind so I need a lot of accommodations. I stumbled across the site and took a gamble. I have never had any confidence in taking tests, but I am proud to say that I made it through my exam with no anxiety, and way above the score needed to pass. The site is incredibly accessible for people with screen readers, and that made all of the difference to me.
							</p>
							<small>Nicole</small>
						</blockquote>
						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed my licensure exam! It was my first attempt and this test prep was the main source of guidance I used while preparing to sit for the NCMHCE. I felt prepared, informed and confident when I started my exam. If I’m being honest, I have never felt that way before taking an exam.
							</p>
							<small>Jessica W.</small>
						</blockquote>
						<blockquote>
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed the NCMHCE yesterday on my first attempt. I used Dr. Arthur's study materials and I will be recommending the materials to my colleagues for their upcoming exams. The consult with Dr. Arthur was extremely valuable and a critical piece of my success. The consult reduced my test anxiety and left me feeling prepared to take the exam.
							</p>
							<small>Lindsay B.</small>
						</blockquote>
						<blockquote>
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Great study course that prepped me within three months. The study supplement is so informative that I'll be keeping it on my library shelf as a reference. The scenarios, I believe, were the greatest asset with built-in tutorials. I can see now why Dr. Arthur provides a money-back guarantee. If you complete the scenarios and reference the supplement, you WILL pass! (And not just by the skin of your teeth.)
							</p>
							<small>Olivia</small>
						</blockquote>
					</div>
				</div>
				<div id="step2" class="step">
					<div class="span6" style="min-height: 13em;">
						<blockquote>
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed the NCE with a score of 139 out of 160. I only needed a 90 to pass. I used your e-study guide and online exams with two other study resources, and your materials were by far the most helpful and comprehensive. I can safely say I was well-prepared, and I will highly recommend your program to others.
							</p>
							<small>Danielle R.</small>
						</blockquote>
						<blockquote>
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I wanted to let you know how grateful I am for the help of the counselor exams study guide. I passed my NCMHCE with flying colors and I truly have this study guide and online simulations to thank! I was able to really target the material that I needed a refresher on but also affirm the things that I was doing right. I have told all of my friends that are preparing for the exam that this is the best. I will also continue to reference the material covered in this study guide throughout my career!
							</p>
							<small>Sherese Ezelle</small>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
</div> <!-- ends testimonials container div -->



<!-- ------------ guarantees tablet and desktop ---------- -->
	
	
<div class="container hidden-phone" style="margin-top: 3em; margin-bottom: 4em;">
	<div class="row">
		<div class="span2 center">
			<img src="/img/pass_icon-left.png" style="width: 113px; margin-bottom: 12px;"><br />
			<a class="btn btn btn-info" href="/faq?myTabContent=guarantee">Get Details</a>
		</div>
		<div class="span5">
			<h1 style="font-size: 2.1em; color: #063d4c;">MONEY BACK PASS GUARANTEE</h1>
			<p>We back our program with our Money-Back Pass Guarantee. No other product offers you a money-back pass guarantee. If you are among our 3% of customers who do not successfully pass their exam, we give you the option to either get your money back or receive additional assistance if you choose to keep our materials. Your choice.</p>
		</div>
		<div class="span5">
			<h1 style="font-size: 2.1em; color: #063d4c;">SATISFACTION GUARANTEE</h1>
			<p>We guarantee you will love our study programs or we will refund the cost of your materials. You can actually order your materials and review everything for a full three days. (Limitations apply towards taking the exams.) If the material is not what you expected, return it for a full refund (minus any shipping charges incurred.)</p>
		</div>
	</div>
	
</div>

<hr style="border-color: green" class="visible-phone" />	
<div class="container visible-phone" style="margin-top: 1em; margin-bottom: 1em;">
	<div class="row">
		<div class="span2 center">
			<img src="/img/pass_icon-left.png" style="width: 90px; margin-bottom: 12px;"><br />
		</div>
		<div class="span5">
			<h1 style="font-size: 2.1em; color: #063d4c;" class="center">MONEY BACK PASS GUARANTEE</h1>
			<p>We back our program with our Money-Back Pass Guarantee. No other product offers you a money-back pass guarantee. If you are among our 3% of customers who do not successfully pass their exam, we give you the option to either get your money back or receive additional assistance if you choose to keep our materials. Your choice.</p>
		</div>
		<div class="span5">
			<h1 style="font-size: 2.1em; color: #063d4c;" class="center">SATISFACTION GUARANTEE</h1>
			<p>We guarantee you will love our study programs or we will refund the cost of your materials. That's right, you can actually order your materials and review everything for a full three days. (Limitations apply towards taking the exams.) If the material is not what you expected, return it for a full refund (minus any shipping charges incurred.)</p>
		</div>
	</div>
	
</div>



<!-- ------------ page pointer top ---------- -->


<!-- <a href="#top" style="position: fixed; bottom:7%;right: 0;" class="visible-phone"><img src="/img/up-pointer-side.svg" /></a> -->


<script>
	
	var section1Btn = document.getElementById("section1Btn");

	section1Btn.onclick = function() {
	  TweenLite.to(window, 1, {scrollTo:{y:"#getStarted", offsetY:60}});
	}
	
</script>
