<%= erb :'how-it-works/nav', layout: false %>


<div class="row">
	<div class="span7">
		<h2>Learn how CounselorExams.com works</h2>
		<p>Here you will find instruction accompanied by images to help you with the basic functionality of the site. Included are frequently asked questions that will answer many specific questions.</p>
		<p>If you still need help or have more questions please go to <a href="/feedback"><strong>Feedback</strong></a>. We will respond as quickly as we can. For more immediate assistance you can call customer support at 888-326-9229.</p>
	
		<h2 style="margin-top: 1em;">Frequently asked questions</h2>
		
		<h4>Can I place my order or ask questions by phone?</h4>
		<p>Absolutely! Call Career Training Concepts toll free at 888-326-9229. Our business hours are Monday - Friday, 9:00 AM - 5 PM EST.</p>

		<h4>How long can I access the online scenarios or exams?</h4>
		<p>Your login information will be good for one year from the date of your purchase.</p>

		<h4>What do I do to get my money back for not passing?</h4>
		<p>To receive your pass guarantee refund, forward the Study Supplement along with a copy of your exam results within 90 days of taking your exam to our office: Career Training Concepts, Inc., ATTN: Jody Bender, 2060 East Exchange Place, Suite 120, Tucker, GA 30084. Once we receive your package, we will refund the cost of the study materials to you. If you purchased the eBook you will only need to forward your exam scores.</p>
	
	</div>
</div>
<br /><br />